body{
  margin: 0;
  position: fixed;
  color: #00ff26;
}


.canvas {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.planet-info{
  color: greenyellow;
  display: flex;
  flex-direction: column;
  width: 40%;
  font-family: 'VT323', monospace;
  font-size: 40px;
  margin-bottom: .5em;
}
.card {
  /* z-index: 10; */
  /* display: flex; */
  /* grid-template-columns: 800px;
  grid-template-rows: 300px 250px 250px;
  grid-template-areas: 'image' 'text'; */
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 15px 15px 15px rgba(64, 114, 55, 0.9);
  font-family: 'VT323', monospace; 
  /* text-align: center; */
  color: rgb(122, 203, 0);
  font-size: auto;
  font-weight: 200;
}

.planet-title{
  font-size: 8rem;
  font-weight: 200;
}

.planet-description {
  font-size: 5.5rem;
}

.flexText {
  flex-direction: column;
  font-size: 20rem;
}

.kepler {
  width: 900px;
  text-align: right;
  padding: 50px 300px 40px 300px;
}

.upsilon {
  width: 5000px;
  text-align: right;
  padding: 200px 1000px 500px 3000px;
  box-shadow: 100px 100px 100px rgba(64, 114, 55, 0.9);
}

.upsilon-title{
  font-size: 35rem;
  font-weight: 200;
}

.upsilon-description {
  font-size: 20rem;
}

.HD33b {
  width: 1800px;
  padding: 100px 800px 100px 1300px;
  text-align: center;
  box-shadow: 60px 60px 60px rgba(64, 114, 55, 0.9);
}

.HD33b-title{
  font-size: 16rem;
  font-weight: 200;
}

.HD33b-description {
  font-size: 12rem;
}

.cancri {
  width: 700px;
  text-align: right;
  padding: 50px 200px 40px 400px;
  box-shadow: 20px 20px 20px rgba(64, 114, 55, 0.9);
}

.cancri-title{
  font-size: 5rem;
  font-weight: 200;
}

.cancri-description {
  font-size: 3.5rem;
}

.HD606b {
  width: 140px;
  padding: 10px 30px 10px 30px;
  text-align: right;
  box-shadow: 10px 10px 10px rgba(64, 114, 55, 0.9);


}

.HD606b-title{
  font-size: 1rem;
  font-weight: 200;
}

.HD606b-description {
  font-size: 0.8rem;
}

.earth {
  width: 300px;
  padding: 30px 100px 30px 130px;
  text-align: right;
  /* background: rgba(150, 150, 150, 0.5); */

}

.earth-title{
  font-size: 3rem;
  font-weight: 200;
  color: rgb(122, 203, 0);
}

.earth-description {
  font-size: 1.8rem;
  color: rgb(122, 203, 0);
}


.overlay {
  padding: 40px;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  opacity: 50%;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
}

.content {
  font-size: 0px;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate3d(calc(50% + 40px), 0, 0);
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
  color: rgb(243, 78, 229);
  font-size: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  width:max-content;
}

.content::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -40px;
  height: 1px;
  width: 40px;
  background: black;
}


/* HUD */


.HUDBody {
  box-sizing: border-box;
  padding: 10px;
  background: black;
  color: #88ff00;
  font-family: "Exo", sans-serif;
}

.HUDBody ul li{
  list-style: none;
}

.HUDcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.information {
  perspective: 400px;
  transform-style: preserve-3d;
  will-change: transform;
}

.indicator-bars {
  display: flex;
  align-items: center;
}

.indicator-bars .indicator-bar {
  position: relative;
  border: 1px solid #88ff00;
  overflow: hidden;
  opacity: 0.5;
}

.indicator-bars .indicator-bar .bar {
  transform: translateY(calc(100% + 2px));
  will-change: transform;

  animation: vertical-inner-bar-appear 25s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(10, end);
}

.indicator-bars .bar .inner-bar {
  width: 40px;
  height: 8px;
  margin: 4px;
  background: #88ff00;
  opacity: 0.8;
  z-index: 1;
}

.indicator-bars .indicator-bars .bar-1 {animation-delay: 8s}
.indicator-bars .indicator-bars .bar-2 {animation-delay: 0s}
.indicator-bars .indicator-bars .bar-3 {animation-delay: 2s}
.indicator-bars .indicator-bars .bar-4 {animation-delay: 5s}
.indicator-bars .indicator-bars .bar-5 {animation-delay: 17s}


.indicator-bars ul {
  height: 120px;
  margin: 10px;
  padding: 0;
  opacity: 0.9;
}

.indicator-bars ul li {
  list-style: none;
  color: #88ff00;
  font-size: 18px;
  text-shadow: 0 0 4px #f5af19;
  opacity: 0.7;
  will-change: opacity;

  animation: steps-animated 0s;
    animation-fill-mode: forwards;
}

.indicator-bars ul li:nth-child(1) {animation-delay: 33s}
.indicator-bars ul li:nth-child(2) {animation-delay: 25s}
.indicator-bars ul li:nth-child(3) {animation-delay: 27s}
.indicator-bars ul li:nth-child(4) {animation-delay: 30s}
.indicator-bars ul li:nth-child(5) {animation-delay: 42s}

@keyframes steps-animated
{
    100% {opacity: 1;}
}
@keyframes vertical-inner-bar-appear
{
    100% {transform: translateY(0%)}
}

ul.levels {
  padding: 0;
}

ul.levels li {
  position: relative;
  margin: 20px 0;
  width: 300px;
  padding: 10px;
  border: 1px solid #88ff00;
  color: white;
  text-shadow: 0 0 0 transparent;
  overflow: hidden;
  opacity: 0.45;
}

ul.levels li .charge {
  position: absolute;
  width: 100%;
  height: 50px;
  opacity: 0.7;
  will-change: transform;
  transform-origin: -10px;
  background: #88ff00;

  animation-name: gaz-level-show;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

ul.levels li .charge-1 { transform: scaleX(0.8) translateY(-15px) translateX(-10px); animation-duration: 266s;}
ul.levels li .charge-2 { transform: scaleX(0) translateY(-15px) translateX(-10px);   animation-duration: 193s;}
ul.levels li .charge-3 { transform: scaleX(0.2) translateY(-15px) translateX(-10px); animation-duration: 277s;}
ul.levels li .charge-4 { transform: scaleX(0.1) translateY(-15px) translateX(-10px); animation-duration: 119s;}
ul.levels li .charge-5 { transform: scaleX(0.6) translateY(-15px) translateX(-10px); animation-duration: 180s;}


ul.levels li .li-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.levels li .li-content div {
  position: relative;
  z-index: 2;
}

.levels-information {
  width: 300px;
  height: 100px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 0 4px #88ff00;
  font-size: 14px;
  opacity: 0;
  will-change: opacity;
}

.levels-information.popping {
  animation-name: popping-gaz-info;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

@keyframes popping-gaz-info
{
    0% {    opacity: 0;}
    50%{    opacity: 1;}
    100% {  opacity: 0;}
}
@keyframes gaz-level-show
{
    10% {   transform: scaleX(0.6) translateY(-15px) translateX(-10px)}
    20% {   transform: scaleX(0.2) translateY(-15px) translateX(-10px)}
    40% {   transform: scaleX(0.5) translateY(-15px) translateX(-10px)}
    80% {   transform: scaleX(0.8) translateY(-15px) translateX(-10px)}
    90% {   transform: scaleX(0.3) translateY(-15px) translateX(-10px)}
    100% {  transform: scaleX(0.6) translateY(-15px) translateX(-10px)}
}
.right-part {
  display: flex;
  flex-direction: column;
}

.right-part ul {
  position: absolute;
  width: 74%;
  padding: 10px;
  border: 1px solid #88ff00;
  text-shadow: 0 0 4px #88ff00;
  font-size: 15px;
  z-index: 1;
  opacity: 0.7;
}

@media screen and (max-width: 960px) {
  .HUDBody {
    padding: 0;
  }
  #container {
    flex-direction: column;
  }
  /* .right-part {
    margin-top: 140px;
  } */
  .angle {
    border-left-width: 1px;
  }
}