body{
  margin: 0;
  padding: 0;
}

.canvas {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.planet-info{
  color: greenyellow;
  display: flex;
  font-family: 'VT323', monospace;
  font-size: 40px;
  padding: 10rem;
  text-align: center;
}

/* Info card styling  */

.card {
  /* z-index: 10; */
  /* display: flex; */
  /* grid-template-columns: 800px;
  grid-template-rows: 300px 250px 250px;
  grid-template-areas: 'image' 'text'; */
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 15px 15px 15px rgba(64, 114, 55, 0.9);
  font-family: 'VT323', monospace; 
  /* text-align: center; */
  color: rgb(122, 203, 0);
  font-size: auto;
  font-weight: 200;
}

.planet-title{
  font-size: 8rem;
  font-weight: 200;
}

.planet-description {
  font-size: 5.5rem;
}

.flexText {
  flex-direction: column;
  font-size: 20rem;
}

.kepler {
  width: 900px;
  text-align: right;
  padding: 50px 300px 40px 300px;
}

.upsilon {
  width: 5000px;
  text-align: right;
  padding: 200px 1000px 500px 3000px;
  box-shadow: 100px 100px 100px rgba(64, 114, 55, 0.9);
}

.upsilon-title{
  font-size: 35rem;
  font-weight: 200;
}

.upsilon-description {
  font-size: 20rem;
}

.HD33b {
  width: 1800px;
  padding: 100px 800px 100px 1300px;
  text-align: center;
  box-shadow: 60px 60px 60px rgba(64, 114, 55, 0.9);
}

.HD33b-title{
  font-size: 16rem;
  font-weight: 200;
}

.HD33b-description {
  font-size: 12rem;
}

.cancri {
  width: 700px;
  text-align: right;
  padding: 50px 200px 40px 400px;
  box-shadow: 20px 20px 20px rgba(64, 114, 55, 0.9);
}

.cancri-title{
  font-size: 5rem;
  font-weight: 200;
}

.cancri-description {
  font-size: 3.5rem;
}

.HD606b {
  width: 140px;
  padding: 10px 30px 10px 30px;
  text-align: right;
  box-shadow: 10px 10px 10px rgba(64, 114, 55, 0.9);


}

.HD606b-title{
  font-size: 1rem;
  font-weight: 200;
}

.HD606b-description {
  font-size: 0.8rem;
}

.earth {
  width: 300px;
  padding: 30px 100px 30px 130px;
  text-align: right;
  /* background: rgba(150, 150, 150, 0.5); */

}

.earth-title{
  font-size: 3rem;
  font-weight: 200;
  color: rgb(122, 203, 0);
}

.earth-description {
  font-size: 1.8rem;
  color: rgb(122, 203, 0);
}

.home-title {
  margin: 0;
  font-size: 2rem;
  position: relative;
    font-family: 'Space Quest', sans-serif;
    font-size: 11em;
    color: rgb(203, 255, 124);
    animation: animate 1s ease-in-out infinite alternate;
    padding: 6rem;
    letter-spacing: 0.05em;;
}

@keyframes animate {
  from{
   text-shadow: 0 0 30px rgb(122, 203, 0); 
  }
  to{
    text-shadow: 0 0 70px rgb(122, 203, 0),
                0 0 30px  rgb(122, 203, 0),
                0 0 15px rgb(122, 203, 0);
  }
}

.home-body {
  margin: 0;
  background-image: url(./stars-flat.webp);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;

}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 58%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}

.title-center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.button-center {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.button-style {
  border: 2px solid black;
  border-radius: 10px;
  color: rgb(203, 255, 124);
  background-color: transparent;
  text-decoration: none;
  font-size: 2.5em;
  padding: 10px 30px;
  transition: 0.3s;
  font-family: 'Space Quest', sans-serif;  
  letter-spacing: 0.10em;
}

.button-style:hover {
  cursor: crosshair;
  letter-spacing: 0.20em;
  transition: 0.3s;
  box-shadow: 0 0 10px rgb(122, 203, 0.9),
              0 0 20px rgb(122, 203, 0.9),
              0 0 30px rgb(122, 203, 0.9),
              0 0 70px rgb(122, 203, 0.9);
}




/* // HUD Styling below  */

.overlay {
  padding: 40px;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  opacity: 50%;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
}

.content {
  font-size: 0px;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate3d(calc(50% + 40px), 0, 0);
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
  color: rgb(243, 78, 229);
  font-size: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  width:max-content;
}

.content::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -40px;
  height: 1px;
  width: 40px;
  background: black;
}

.HUDBody {
  box-sizing: border-box;
  padding: 10px;
  background: black;
  color: #88ff00;
  font-family: "Exo", sans-serif;
}

.HUDBody ul li{
  list-style: none;
}

.HUDcontainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
}

.information {
  perspective: 400px;
  will-change: transform;
}

.indicator-bars {
  display: flex;
  align-items: center;
}

.indicator-bars .indicator-bar {
  position: relative;
  border: 1px solid #88ff00;
  overflow: hidden;
  opacity: 0.5;
}

.indicator-bars .bar .inner-bar {
  width: 40px;
  height: 8px;
  margin: 4px;
  background: #88ff00;
  opacity: 0.8;
}

.indicator-bars .indicator-bar .bar {
  transform: translateY(calc(100% + 2px));
  will-change: transform;

  animation: gaze-inner-bar-appear 25s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(10, end);
}

.indicator-bars .indicator-bar .bar-1 {
  animation-delay: 8s;
}
.indicator-bars .indicator-bar .bar-2 {
  animation-delay: 0s;
}
.indicator-bars .indicator-bar .bar-3 {
  animation-delay: 2s;
}
.indicator-bars .indicator-bar .bar-4 {
  animation-delay: 5s;
}
.indicator-bars .indicator-bar .bar-5 {
  animation-delay: 17s;
}


.indicator-bars ul {
  height: 120px;
  margin: 10px;
  padding: 0;
}

.indicator-bars ul li {
  list-style: none;
  color: #88ff00;
  font-size: 18px;
  text-shadow: 0 0 4px #f5af19;
  opacity: 0.7;
  will-change: opacity;
}

ul.levels {
  padding: 0;
}

ul.levels li {
  position: relative;
  margin: 20px 0;
  width: 300px;
  border: 1px solid #88ff00;
  color: white;
  text-shadow: 0 0 0 transparent;
  overflow: hidden;
  opacity: 0.45;
}

ul.levels li .charge {
  position: absolute;
  width: 100%;
  height: 50px;
  opacity: 0.7;
  will-change: transform;
  transform-origin: -10px;
  background: #88ff00;
}


ul.levels li .li-content {
  padding: 10px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.levels li .li-content div {
  position: relative;
  z-index: 2;
}

.levels-information {
  width: 300px;
  height: 100px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 0 4px #88ff00;
  font-size: 14px;
  opacity: 0;
  will-change: opacity;
}

ul.levels li .charge-1 {
  transform: scaleX(0.8) translateY(-15px) translateX(-10px);
}
ul.levels li .charge-2 {
  transform: scaleX(0.7) translateY(-15px) translateX(-10px);
}
ul.levels li .charge-3 {
  transform: scaleX(0.2) translateY(-15px) translateX(-10px);
}
ul.levels li .charge-4 {
  transform: scaleX(0.1) translateY(-15px) translateX(-10px);
}
ul.levels li .charge-5 {
  transform: scaleX(0.6) translateY(-15px) translateX(-10px);
}

.levels-information {
  width: 300px;
  height: 100px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 0 4px #88ff00;
  font-size: 14px;
  opacity: 0.8;
  will-change: opacity;
}

.right-part {
  padding-left: 500px;

}
.right-part ul {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #88ff00;
  text-shadow: 0 0 4px #88ff00;
  font-size: 15px;
}

@media screen and (max-width: 960px) {
  .HUDBody {
    padding: 0;
  }
  #container {
    flex-direction: column;
  }
  /* .right-part {
    margin-top: 140px;
  } */
  .angle {
    border-left-width: 1px;
  }
}