body{
  margin: 0;
  position: fixed;
}


.canvas {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.planet-info{
  color: greenyellow;
  display: flex;
  flex-direction: column;
  width: 40%;
  font-family: 'VT323', monospace;
  font-size: 40px;
  margin-bottom: .5em;
}
.card {
  /* z-index: 10; */
  /* display: flex; */
  /* grid-template-columns: 800px;
  grid-template-rows: 300px 250px 250px;
  grid-template-areas: 'image' 'text'; */
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 15px 15px 15px rgba(64, 114, 55, 0.9);
  font-family: 'VT323', monospace; 
  /* text-align: center; */
  color: rgb(20, 154, 20);
  font-size: auto;
  font-weight: 200;
}

.planet-title{
  font-size: 5rem;
  font-weight: 200;
}

.planet-description {
  font-size: 3rem;
}

.flexText {
  flex-direction: column;
  font-size: 20rem;
}

.kepler {
  width: 1000px;
  text-align: center;
  padding: 50px 30px 40px 30px;
}





.upsilon {
  width: 4000px;
  text-align: center;
  padding: 300px 700px 300px 700px;
}

.upsilon-title{
  font-size: 20rem;
  font-weight: 200;
}

.upsilon-description {
  font-size: 15rem;
}

.HD33b {
  width: 1800px;
  padding: 100px 600px 100px 600px;
  text-align: center;
  font-size: 10rem;

}

.HD33b-title{
  font-size: 14rem;
  font-weight: 200;
}

.HD33b-description {
  font-size: 10rem;
}

.kepler-card-image {
  grid-area: image;
  background: url('Screen Shot 2022-12-03 at 8.20.11 PM.png');
  background-size: cover;
}

.cancri {
  width: 700px;
  text-align: center;
  padding: 50px 80px 40px 80px;
}

.cancri-title{
  font-size: 4rem;
  font-weight: 200;
}

.cancri-description {
  font-size: 2rem;
}

.HD606b {
  width: 100px;
  padding: 10px 40px 10px 40px;
  text-align: center;

}

.HD606b-title{
  font-size: 1.5rem;
  font-weight: 200;
}

.HD606b-description {
  font-size: 0.75rem;
}

.earth {
  width: 300px;
  padding: 30px 100px 30px 100px;
  text-align: center;

}

.earth-title{
  font-size: 3rem;
  font-weight: 200;
}

.earth-description {
  font-size: 1.5rem;
}


.overlay {
  padding: 40px;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  opacity: 50%;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
}

.content {
  font-size: 0px;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate3d(calc(50% + 40px), 0, 0);
  text-align: left;
  background: rgba(0, 0, 0, 0.1);
  color: rgb(243, 78, 229);
  font-size: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  width:max-content;
}

.content::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -40px;
  height: 1px;
  width: 40px;
  background: black;
}
